parameters:
    level: 8
    excludePaths:
        - src/DependencyInjection/Configuration.php
    ignoreErrors:
        - identifier: property.onlyRead
          path: tests/Fixtures/Entity/Address.php
        - identifier: property.onlyRead
          path: tests/Fixtures/Entity/Organization.php